@import "base.css";
@import "addressnull.css";

header{
    height:0.88rem;
    color:#4ebbfe;
    text-align: center;
    line-height:0.88rem;
    font-size:0.38rem;
    display: flex;
    justify-content: space-between;
}
header>a{
    margin-left:0.22rem;
    color: #36a8fe;
}
a{
    margin-top: 0.2rem;
    padding:0 0.25rem;
    display: block;

}
a>img{
    width: 100%;
    height:100%;
}